.obucheniye-i-razvitiye {
  &__list {
    max-width: 890px;
    padding: 10px 0;
    li {
      display: flex;
      margin-bottom: 50px;
      h2 {
        margin-bottom: 10px;
      }
    }
  }
  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 115px;
    width: 115px;
    height: 115px;
    margin-right: 41px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $lg) {
  .obucheniye-i-razvitiye {
    &__img{
      min-width: 95px;
      width: 95px;
      height: 95px;
      margin-right: 35px;
    }
  }
}

@media (max-width: $md) {
  .obucheniye-i-razvitiye {
    &__img{

      margin-right: 0px;
      margin-bottom: 15px;
    }
    &__list {
      li{
        flex-direction: column;
        margin-bottom: 30px;
      }
    }
  }
}