.sport{
  padding-bottom: 25px;
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width: 46%;
      margin-bottom: 95px;
    }
  }
  &__img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 413px;
    margin-bottom: 25px;
  }
}