.burger {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 56px;
  background: $color;
  align-items: center;
  justify-content: center;
  transition: .2s ease-in-out background;
  display: none;
  margin-left: auto;
  margin-right: -15px;
  &.active {

  }
  &:hover {
    background: $color-hover;
    span {
      &, &:before, &:after {
        //background: rgba(17, 13, 16, 0.82);
      }
    }
  }
  span {
    &, &:before, &:after {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 2px;
      background: #FFFFFF;
      position: relative;
      top: 0px;
      transition: all .3s ease-in-out;
    }
    &:after {
      position: absolute;
      content: "";
      top: auto;
      bottom: 6px;
    }
    &:before {
      position: absolute;
      content: "";
      top: 6px;
    }
  }

  &.active {
    span {
      transform: rotate(45deg);
      &:before {
        transform: translate(0px, -6px) rotate(-90deg);
      }
      &:after {
        transform: translate(0px, 6px) rotate(-90deg);
      }
      &, &:before, &:after {
        background: #fff;
      }
    }
    &:hover {
      span {
        &, &:before, &:after {
          background: #fff;
        }
      }
    }
  }
}
