a.button {
  background: $color;
  border-radius: 3px;
  box-sizing: border-box;
  width: 172px;
  height: 47px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .2s ease-in-out background;
  text-decoration: none;
  &:after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/arrow-r.svg) center right/contain no-repeat;
  }
  &:hover {
    background: $color-hover;
    opacity: 1;
  }

}

@media (max-width: $md) {
  a.button {
    font-size: 14px;
    width: 144px;
    height: 42px;
    &:after{
      content: '';
      width: 23px;
      height: 10px;
      transform: translateY(1px);
      background: url(../img/arrow-mini.svg) center no-repeat;
    }
  }
}