body {
  color: $text-color;
  font-family: $font-basic;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  height: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
  //font-family: $font-add;
  font-weight: bold;

}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

p {
  font: inherit;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  font-family: $font-add;
  line-height: 1.6;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 34px;
  margin-bottom: 35px;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

h4 {
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: 500;
}



@media (max-width: $md) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 20px
  }
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    line-height: 1.2;
  }
  img{
    margin-bottom: 18px;
  }
}

